body {
  padding: 30px;
  background: #e2e9f4;
}

.form {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e2e9f4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.Card {
  margin: 0 auto;
  padding: 1px;
  border-radius: 10px;
  background: linear-gradient(
    -67deg,
    rgba(#c8d8e7, 0.7),
    rgba(255, 255, 255, 0.8)
  );
  overflow: hidden;
  box-shadow: -2px -2px 6px rgba(#fff, 0.6), 2px 2px 12px #c8d8e7;
  width: 600px;
}
.CardInner {
  display: flex;
  gap: 30px;
  padding: 16px;
  background-color: #e2e9f4;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66;

  background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
}

.container {
  display: flex;
}

button {
  border: 2px solid #6b7b8f;
  border-radius: 10px;
  padding: 10px;

  color: #6b7b8f;
  background-color: #e2e9f4;
}

.InputContainer {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.InputContainer:before,
.InputContainer:after {
  left: 0;
  top: 0;
  display: block;
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.InputContainer:before {
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.7);
}

.InputContainer:after {
  box-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
}

input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: #6b7b8f;

  transition: all 240ms ease-out;
  width: 100%;
}

p {
  text-align: center;
  font-size: 35px;
  color: #6b7b8f;
}
